@Model IEnumerable<HTTP5101_Cumulative_Project_Part_1.Models.Students>
    {

    }


    @{
        ViewBag.Title = "List";
    }


                      <div id="containerlist">
                          <h2>List of Students</h2>
                          <p>Please click the link to check the detail of class</p>
                          <form action="List" method="GET">
                              <input type="text" name="searchKey" />
                              <input type="submit" name="search" />
                          </form>
                          @foreach (var student in Model)
                          {
                              <div class="listitem row">
                                  <div class="col-md-12"><a href="/Student/Show/@student.StudentId">@student.StudentFname @student.StudentLname</a></div>
                              </div>
                          }
                      </div>

   
    
   

